<% @page_title = "Gallery" %>
<% @page_description = "Ride the Island Poker Run has 7 stops, located all over Pleasure Island, starting and ending at The Wharf. All proceeds from this event will be donated to Pink Heals Inc." %>

<div class="page-head registration">
	<div class="box"><h1>Photo Gallery</h1><h3>Look through all the pictures from our previous events, and be sure not to miss the next one! </h3></div>
</div>

<div class="gallerypage">
	<div class="container">
			<%= image_tag('rti-img1.jpg', alt: 'Ride the Island, pictures from previous events', class: 'img-responsive gallery') %>
			<%= image_tag('rti-img2.jpg', alt: 'Ride the Island, pictures from previous events', class: 'img-responsive gallery') %>
			<%= image_tag('rti-img6.png', alt: 'Ride the Island, pictures from previous events', class: 'img-responsive gallery') %>
	</div>
</div>
