<% @page_title = "Home" %>
<% @page_description = "New Description" %>

<div class="fullsite-intro">
  <%= image_tag( 'biker.jpg', alt: 'Ride the Island Orange Beach, Al Introduction', class: 'img-responsive') %>
</div>

<div class="main-content">
	<div class="container">
		<h1>Ride the Island</h1>
		<h2>Ride to Survive</h2>
	</div>
</div>

