<% @page_title = "Registration" %>
<% @page_description = "New Description" %>

<div class="page-head registration">
	<div class="box"><h1>Register for the Ride</h1></div>
</div>

<div class="main-content">
	<div class="container">
		<div class="col-md-8 col-xs-12">
				<div id="wufoo-z70faov0ovw0ag">
					Fill out my <a href="https://ridetheislandob.wufoo.com/forms/z70faov0ovw0ag">online form</a>.
				</div>
				<script type="text/javascript">var z70faov0ovw0ag;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'ridetheislandob',
				'formHash':'z70faov0ovw0ag',
				'autoResize':true,
				'height':'480',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { z70faov0ovw0ag = new WufooForm();z70faov0ovw0ag.initialize(options);z70faov0ovw0ag.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
		</div>
	</div>
</div>
