<% @page_title = "Registration" %>
<% @page_description = "New Description" %>

<div class="page-head registration">
	<div class="box"><h1>Register for the Ride</h1></div>
</div>

<div class="main-content">
	<div class="container">
		<!-- <div class="col-md-3 col-xs-12"><%=image_tag('rti-logo.png', alt: 'Ride the Island Poker Run, logo', class: 'img-responsive') %></div> -->

		<div class="col-md-5 col-md-offset-1 col-xs-12">
				<div id="wufoo-z70faov0ovw0ag">
					Fill out my <a href="https://ridetheislandob.wufoo.com/forms/z70faov0ovw0ag">online form</a>.
				</div>
				<script type="text/javascript">var z70faov0ovw0ag;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'ridetheislandob',
				'formHash':'z70faov0ovw0ag',
				'autoResize':true,
				'height':'480',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { z70faov0ovw0ag = new WufooForm();z70faov0ovw0ag.initialize(options);z70faov0ovw0ag.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
		</div>

				<!-- <div class="col-md-3 col-xs-12">
					<div class="proceeds">
						<%=image_tag('pink-heals-logo.png', alt: 'Ride the Island Poker Run, logo', class: 'img-responsive pinkheals') %>
						<h3 class="text-center">All proceeds from this event will be donated to Pink Heals Inc.</h3>
							<%= link_to "Learn More", pink_path, target:'_blank', class: 'reg-btn' %>
					</div>
				</div>-->
					<!-- <h2>Poker Run Stops</h2>
						<h3>The Wharf</h3>
						<h3>Big Beach Brewing</h3>
						<h3>Sassy Bass Amazin' Grill</h3>
						<h3>Hooters</h3>
						<h3>Gilbey's Seafood &amp; Steak</h3>
						<h3>Flora Bama Yacht Club</h3>
						<h3>Pleasure Island Tiki Bar</h3> -->
	    <div class="col-md-5 col-md-offset-1 col-xs-12 p-top-3"><%= image_tag( 'pinkheals-tour.jpg', alt: 'Ride the Island Orange Beach, Al Logo', class: 'img-responsive') %></div>
		</div>
	</div>
</div>
