$black: #000;
$white: #fff;
$light: #ececec;
$dark: #1a1a1a;
$gray: #9d9d9d;
$offwhite: #f5f4f4;
$font-color: #252525;

$yellow: #fed762;
$yellow2: #f8a531;
$green: #48d281;
$sand: #e5dbbc;

$open: 'Open Sans', Arial, sans-serif;
$kash: 'Kaushan Script', cursive;
$kal: 'Kalam', cursive;
