@import "variables";
@import "mixins";


header {@include sec-default(); padding: 5px;

	.logo-img {width: 35%; padding: 5px;}
	.megamenu-parent {list-style:none;padding:0;margin:0;z-index:9;display:block;float:right;
	    li{display:inline-block;position:relative;padding:0;border-top: 3px solid transparent; margin: 0 15px;
	        &:last-child{margin-right: 5px;}
	        a{display:inline-block;font-size: 16px; font-family: $open; color: $gray; text-transform: uppercase; line-height: 70px; padding-top:10px; }
	    }
	}
	i.fa{color: $white; font-size: 16px;}

	&.light {
		// background-color: rgba($black, .3);
		position: absolute; z-index: 100;
		.megamenu-parent li a {color: $white; font-weight: 600;}
	}

	@include bp(tb) {
		.logo-block {display: inline-block; width: 20%; float: left;
			.logo-img{@include sec-default();}
		}
		.mega-tab {display: inline-block; float: right;}
		.megamenu-parent li a {line-height: 30px}
	}

	@include bp(mb) {
		.megamenu-parent li a {line-height: 30px}
	}

	@include bp(sm) {
		.logo-block {width: 40%; @include center-block ();}
		.logo-img {padding-bottom: 10px;}
		.mega-tab {@include sec-default(); text-align: center; border-top:1px solid $white; border-bottom: 1px $white solid; padding-bottom: 5px;}
		.megamenu-parent li a, .megamenu-parent li {line-height: 1em; border-top: none; padding-top:3px;}
	}
}
