// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixins";

.main-content {@include sec-default(); padding: 30px 0 0; background-color: $offwhite;}

.reg-btn { @include center-block(); font-size: 18px;background-color: $yellow2; border-radius: 4px; padding: 10px 15px; text-align: center; color: $dark; font-weight: bold;
	&:hover {@include ease(); background-color: $yellow;}
}

.home {
	.fullsite-intro {
		@include sec-default();
		@include sec-bgimage();
		background-image: url(image_path('beach-bike1.jpg'));
		height: 550px;
		position: relative;
		z-index: 0;

		&::before {@include before ();background-color: rgba(0,0,0, .3);}

		.fullsite-header {
			@include sec-default();
			text-align: center;
			margin-top: 12%;
			h1, h2 {color: $white;}
			h1 {font-size: 70px; text-shadow: $shadow;}
			h2{color: $yellow2; font-size: 50px;}
			h3 {color: $white; font-weight: 800;text-shadow: $shadow; font-size: 25px;}
		}
	}

	.details {@include sec-default(); padding:0px 0 10px; margin-bottom: 30px; background-color: $offwhite;
		.left { text-align: center; margin-top: -80px; background-color: $white; padding: 15px 0 0;
				h3 {font-size: 25px; font-weight: bold; margin-bottom: 20px;}
				hr {margin: 5px 0 10px;}
		}
		.right { padding-top:40px;}
		span {color: $yellow2;}
	}

	.sponsors { @include sec-default (); padding: 60px 20px; background-color: $white;
    h2 {text-align: center; margin-bottom:20px;}
		.sponsor-box { text-align: center; border-left: 1px solid #dfdfdf; padding-left:25px; margin-left:25px;
	    .sponsor-logo { display: inline-block; width: 40%; margin:auto; padding: 15px 20px;}
	  }

    .pinkheals{width: 30%; @include center-block(); margin-top: 25px; margin-bottom: 25px;}
    .reg-btn {width: 45%;}
	}

	#stops {
		@include sec-default (); padding: 60px 0; position: relative; z-index: 0; background-color: $offwhite;

    h2 {margin-bottom: 20px; color: $yellow2;}
    h3 {font-weight: bold; margin-bottom:20px;}
	}


	@include bp(tb) {
		.fullsite-intro {height:350px;
			.fullsite-header {
				margin-top: 18%;
				h1 {font-size: 55px; margin-bottom:0}
				h2{font-size: 40px;}
			}
		}

		.details { padding-bottom: 0;
			.left {margin-top: 0; padding-bottom: 10px;}
		}
		.right {padding: 15px; padding-bottom:0;}
		.reg-btn {width: 45%;}

		.sponsors { padding: 15px;
			.proceeds{@include center-block(); width: 90%;}
			.pinkheals{width: 22%; display: inline-block; float: left; margin: 5px 15px; margin-left: 0;}
			h3 {padding: 25px 10px 10px;}
			.reg-btn {width: 30%; margin-left: 50%;}

			.sponsor-box { border-left:none; border-top: 1px solid #dfdfdf; padding-left:0px; margin-left:0; margin-top: 40px; padding-top: 25px;
		    .sponsor-logo { width: 42%; margin:auto; padding: 15px 20px;}
		  }
		}

		#stops { padding: 40px 0; text-align: center;
	    h3 {display: inline-block; width: 45%; margin: 10px auto;}

	    iframe{margin-top: 20px;}
		}
	}
}

.registration  {
	.main-content {padding: 60px 0;}
		.right {padding-top:30px; padding-left:30px;}
		.left{ width:90%; float: left;
			@include sec-bgimage();
			background-image: url(image_path('bike-bw1.jpg'));
			position: relative; z-index: 0; padding: 30px 0 0px 50px;

			&::before {@include before(); background-color: rgba( $green, .9);}

			h4, h2, h3 {color: $dark; font-weight: bold;}
		}

		.img-p {padding:10px;}

		.reg-btn { width:50%;
			&.alt {width: 100%;}
		}
		.details { padding-top: 30px;}
		.top {@include sec-default(); padding-bottom: 30px; border-bottom: 1px solid #dfdfdf;}
		.bottom {@include sec-default(); padding-top: 30px; }

		@include bp(tb) {
			.main-content {padding: 30px 0;}
			.right {padding-top:30px; padding-left:0px;}
			.left{width: 80%; margin-left: 10%; padding: 30px 0 0px 50px;}

			.reg-btn { width:40%;
				&.alt {width: 40%; float: right; margin-right: 20px;}
			}
			.details { padding-top: 30px;}
			.top { text-align: center;
				.img-p {width: 32%; float: left; margin-left: 7%; }
				.details {float: right; width: 60%;}
			}
			.bottom {text-align: center;
				.img-p {width: 30%; @include center-block();}
			}
		}
}
