<header class="header">
  <div id="top-bar">
    <!-- social link examples -->
      <ul id="social-links">
          <li>
            <%= link_to '#', target: '_blank' do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>

          <li>
            <%= link_to '#', target: '_blank' do %>
              <i class="fa fa-google-plus"></i>
            <% end %>
          </li>
      </ul>
  </div>

  <div class="main-header">
    <div class="col-md-3 logo-block">
        <%= link_to(image_tag( 'rti-logo.png', alt: 'Ride the Island Orange Beach, Al Logo', class: 'img-responsive logo-img'), root_path ) %>
    </div>

    <div class="col-md-9 mega-tab">
        <ul class="megamenu-parent menu-zoom hidden-xs">
          <li class="menu-item"><%= link_to "Home", root_path %></li>
        </ul>
    </div>

    <!--
    IF the site ends up with multiple pages, add in the offcanvas info
    <div>
      <a href="#" id="offcanvas-toggler">
          <span></span>
          <span></span>
          <span></span>
      </a>
    </div> -->
</header>
